@inherits LayoutComponentBase

<PageTitle>Adventure Cryptoist</PageTitle>

<div class="page">
    <div class="sidebar">
        @Body
    </div>
</div>

<BottomNav />

@code {
    // Any necessary code for the layout
}
