@namespace AdvCap.Client.Components

<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid justify-content-around">
        <NavLink class="nav-link" href="/">Home</NavLink>
        <NavLink class="nav-link" href="/managers">Managers</NavLink>
        <NavLink class="nav-link" href="/upgrades">Upgrades</NavLink>
        <NavLink class="nav-link" href="/settings">Settings</NavLink>
    </div>
</nav>
